<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Travel App - Udacity</title>
    </head>

    <body>
        <header>
            <h1>Travel App</h1>
        </header>
        <main class="background">
            <section class="first">
                <p class="text">Destination:</p>
                <input id="Destination" placeholder="Enter valid zipcode or city" type="text" />

                <p class="text">Date:</p>
                <input id="date" placeholder="yyyy-mm-dd" type="date" />

                <button class="button" onClick="Client.formHandler()" type="button" style="outline: 0 none;">Submit</button>
                <button id="remove" class="button" type="button" style="outline: 0 none;">Remove Trip</button>
                <br />
                <br />
                <p>latitude:</p>
                <div id="latitude"></div>
                <p>longitude:</p>
                <div id="longitude"></div>
                <p>Country Code:</p>
                <div id="country"></div>
                <p>Place Name:</p>
                <div id="placeName"></div>
                <p>Date Of Trip:</p>
                <div id="tripDate"></div>
                <p>
                    Weather:
                </p>
                <br />

                <ul id="weather" style="line-height: 50px; text-align: justify;"></ul>

                <br />
                <div id="image" class="picz"></div>
            </section>
            <br />

            <footer>
                <div class="footer">
                    © 2021
                </div>
            </footer>
        </main>

        <script>
            window.addEventListener("load", () => {
                document.getElementById("remove").addEventListener("click", () => Client.submitHandler());
            });
            // Check that service workers are supported
            if ("serviceWorker" in navigator) {
                // Use the window load event to keep the page load performant
                window.onload = function () {
                    window.addEventListener("load", () => {
                        navigator.serviceWorker.register("/service-worker.js");
                    });
                };
            }
        </script>
    </body>
</html>
