form {
    border-radius: 5px;
    padding: 120px;
    width: 60;
}

input {
    padding: 20px 40px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}

sub {
    font-family: 'Courier New', Courier, monospace;
    height: 20px;

}
